# Build container and push it to the carrollab container registry
#
name: Build and Push Docker Image

on:
  push:
    branches:
      - main
    workflow_dispatch:   # Allows manual triggering of the workflow
jobs:
  build:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: ghcr.io/carrollaboratory/locutils
      IMAGE_TAG: "locutils_img:${{ github.sha }}"
      LATEST: "locutils_img:latest"

    permissions:
      contents: read
      id-token: write
      attestations: write
      packages: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Docker image
      run: |
        docker build -t $IMAGE_NAME:$IMAGE_TAG -t $IMAGE_NAME:latest .

    - name: Push Docker image
      run: |
        docker push $IMAGE_NAME:$IMAGE_TAG
        docker push $IMAGE_NAME:latest

