# Build container and push it to the carrollab container registry
#
name: Build and Push Docker Image

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:   # Allows manual triggering of the workflow
jobs:
  build:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: ghcr.io/carrollaboratory/locutils_img
      IMAGE_TAG: "${{ github.sha }}"
      LATEST: "latest"

    permissions:
      contents: write
      id-token: write
      attestations: write
      packages: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Log in to GitHub Container Registry
      run: echo "${{ secrets.GHRCIO_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Build Docker image
      run: |
        docker build -t $IMAGE_NAME:$IMAGE_TAG -t $IMAGE_NAME:latest .

    - name: Push Docker image
      run: |
        docker push $IMAGE_NAME:$IMAGE_TAG
        docker push $IMAGE_NAME:latest

